* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagem-container {
    width: 80%;
    margin: auto;
}

.imgContainer {
    display: inline-block;
    margin-right: 0;
}

.imgContainer img {
    width: 12.5rem;
    height: 12.5rem;
}